@model BrowserFileManger.ViewModels.UploadPageViewModel

@{
    ViewData["Title"] = "Upload Files";
} 

<h1>Upload your Song</h1>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <input asp-for="FileUpload.File" type="file" />
    <button type="submit">Upload</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <ul>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <li>@error.ErrorMessage</li>
        }
    </ul>
}

<hr>

@await Html.PartialAsync("_FileListPartial", Model.Files)